* {
  margin: 0;
  padding: 0;
  border: 0;
  border-sizing: border-box;
}

body {
  /*background-color: #E5E7EB;*/
}

.navbar-container {
  background-color: #1f2937;
}

.navbar {
  display: flex;

  /*border: 2px solid black;*/
  justify-content: space-between;
  /*background-color: #1f2937;*/
  color: #f9faf8;
  font-weight: 24px;
  height: 10vh;
  width: 80%;
  margin: 0 auto;
}
.links {
  display: flex;
  gap: 20px;
}

.first-subsection-container {
  background-color: #1f2939;
  display: flex;
  justify-content: center;
}

.first-subsection {
  width: 80%;
  color: white;
  display: flex;
  justify-content: space-between;
}

.first-subsection-text{
  margin: 20px 0;
}

.signup-button {
  background-color: #3882f6;
  /*border: 1px solid white;*/
  height: 32px;
  border-radius: 8px;
  width: 100px;
  margin: 20px auto;
  color: #f9faf8;
}

.second-subsection {
  border: 2px solid black;
  display: flex;
  justify-content: center;
}

.second-subsection-container {
  width: 80%;
}

.subsection-two-header {
  margin: 20px auto;
  text-align: center;
}

.box-collection {
  display: flex;
  justify-content: space-between;
}

.box {
  width: 100px;
  height: 100px;
  border: 3px solid #3882f6;
  border-radius: 8px;
}

.box-plus-description {
  width: 110px;
  text-align: center;
}

.third-subsection-back {
  background-color: #e5e7eb;
  height: 400px;
  display: flex;
}
.third-subsection {
  width: 50%;
  /*text-align: center;*/
  /*margin: 100px auto;*/
  margin: auto;
  font-size: 36px;
  font-style: italic;
}

.thor {
  text-align: right;
  margin: 10px;
  font-style: normal;
  
}

.fourth-subsection {
  /*border: 1px solid black;*/
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.call-to-action {
  background-color: #3882f6;
  width: 80%;
  margin: auto;

  display: flex;

  border-radius: 5px;
  justify-content: space-between;
  height: 72px;
  font: 36px extra-bold #1f2937;
}

.call-to-action-button {
  background-color: #3882f6;
  border: 1px solid white;
  height: 32px;
  border-radius: 8px;
  width: 100px;
  margin: auto;
  color: #f9faf8;
}
.call-to-action-text {
  margin: auto;
  font-size: 18px;
  color: #f9faf8;
}

.footer-container {
  background-color: #1f2937;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: #1f2937;
  color: white;
  
}
